@tailwind base;
@tailwind components;
@tailwind utilities;

.gradient-border {
	position: relative;
}

.gradient-border:before {
	content: '';
	position: absolute;
	top: 0;
	left: 0;
	right: 0;
	height: 6px;
	background: linear-gradient(27deg, #ffc593 0%, #bc7198 51.95%, #5a77ff 100%);
}
